body{
  background: #f6f6f6;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif; 
}

ul,
ol{
  margin-top:0;
  margin-bottom: 0;
}

.wrapper{
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* Main-content */

.main-content{
  padding: 88px 80px 40px 80px;
  box-sizing: border-box;
}

/* Sidebar */

.sidebar{
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px; 
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content{
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Contacts */

.contacts-container {
  margin-bottom: 40px;
}

.contacts-title{
  color:#161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-img{
  width: 20px;
  height: 20px;
}

.contacts-link{
  display: flex;
  align-items: center;
  width: 80px;
  gap: 8px;
  color:#2979ff;
  text-decoration: none;
}

.contacts-link:hover{
  color: hsl(248, 88%, 56%);
}

/* Skills container */

.skills-container{
  margin-bottom: 40px;
}

.skills-title{
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list{
  padding-left: 16px;
  
}

.slills-list-item{
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Soft skills */

.skills-container1{
  margin-bottom: 40px;
}

.skills-title{
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list{
  padding-left: 16px; 
}

.slills-list-item{
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Main content */

.my-profession{
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px; 
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name{
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px; 
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr{
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; 
}

.my-info{
  margin-bottom: 40px;
}

/* My projects */

.my-projects-title{
 color: #000 ;
 font-size: 22px;
 font-weight: 700;
 line-height: 27px ;
 margin-top: 0;
 margin-bottom: 8px;
}

.my-projects-item{
 color: #000 ;
 font-size: 14px;
 font-weight: 700;
 line-height: 24px ;
}

.my-projects-list{
  padding-left: 16px;
}

.my-projects-item-link {
 color: #005fff;
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 text-decoration: none;
}

.my-projects-item-link:hover {
  border-bottom: solid 2px hsl(248, 88%, 56%);;
  color: hsl(248, 88%, 56%);
}

.my-projects-container{
  margin-bottom: 40px;
}

/* Work experience */

.work-experience-title{
 color: #000;
 font-size: 22px;
 font-weight: 700;
 line-height: 27px;
 margin-top: 0;
 margin-bottom: 8px;
}

.work-experience-company{
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;  
}

.company-name{
  color:#6d9bf5;
}

.work-experience-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 8px; 
}

.work-experience-period-separator{
  color: #000;
}

.work-experience-duties-list{
  padding-left: 16px;
}

.work-experience-duties-item{
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.work-experience-container{
  margin-bottom: 12px;
}

.wex{
 margin-bottom: 40px;
 padding-top: 40px;
}

.padding-top{
  padding-top: 20px;
}